In [13]:
with open('dataSet/dataFile/yeast/yeast.txt', 'r') as in_file:
    stripped = (line.strip(' ') for line in in_file)
    lines = (line.split("  ") for line in stripped if line)
    with open('dataSet/dataFile/yeast/yeast.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('name_yeast', 0, 1, 2, 3, 4, 5, 6, 7,'class'))
        # writer.writerow(('x', 'y', 'z', 'w','class'))
        writer.writerows(lines)

In [14]:
import csv
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [4]:
a = (i for i in range(0, 6))

In [7]:
a

In [75]:
import pandas as pd
df_test = pd.read_csv('dataSet/dataFile/yeast/yeast.csv', error_bad_lines=False)

b'Skipping line 408: expected 10 fields, saw 11\nSkipping line 409: expected 10 fields, saw 11\nSkipping line 410: expected 10 fields, saw 11\nSkipping line 411: expected 10 fields, saw 11\nSkipping line 422: expected 10 fields, saw 11\n'

In [76]:
df_test

      name_yeast     0     1     2     3    4    5     6     7  class
0     ADT1_YEAST  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  MIT\n
1     ADT2_YEAST  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  MIT\n
2     ADT3_YEAST  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  MIT\n
3     AAR2_YEAST  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  NUC\n
4     AATM_YEAST  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  MIT\n
...          ...   ...   ...   ...   ...  ...  ...   ...   ...    ...
1474  YUR1_YEAST  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22  ME2\n
1475  ZIP1_YEAST  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47  NUC\n
1476  ZNRP_YEAST  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22  ME2\n
1477  ZUO1_YEAST  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39  NUC\n
1478  G6PD_YEAST  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22  CYT\n

[1479 rows x 10 columns]

In [77]:
class_set = set(df_test['class'])

In [78]:
num = 0
for i in class_set:
    print(i)
    df_test['class'].replace({i:num}, inplace=True)
    num+=1

VAC

ERL

NUC

ME1

EXC

ME2

CYT

POX

ME3

MIT

In [81]:
df_test = df_test.drop(['name_yeast'], axis=1)

In [82]:
df_test

         0     1     2     3    4    5     6     7  class
0     0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22      9
1     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22      9
2     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22      9
3     0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22      2
4     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22      9
...    ...   ...   ...   ...  ...  ...   ...   ...    ...
1474  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22      5
1475  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47      2
1476  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22      5
1477  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39      2
1478  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22      6

[1479 rows x 9 columns]

In [83]:
set(df_test['class'])

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [84]:
df0 = df_test[df_test['class'] == 0]
df1 = df_test[df_test['class'] == 1]
df2 = df_test[df_test['class'] == 2]
df3 = df_test[df_test['class'] == 3]
df4 = df_test[df_test['class'] == 4]
df5 = df_test[df_test['class'] == 5]
df6 = df_test[df_test['class'] == 6]
df7 = df_test[df_test['class'] == 7]
df8 = df_test[df_test['class'] == 8]
df9 = df_test[df_test['class'] == 9]

In [85]:
cv = KFold(n_splits=5, random_state=42, shuffle=False)
train0 = [[] for _ in range(5)]
test0 = [[] for _ in range(5)]
num = 0 
for train_index, test_index in cv.split(df0):
    train0[num] = df0.iloc[train_index.tolist()]
    test0[num] = df0.iloc[test_index.tolist()]
    num+=1

In [86]:
num = 0 
train1 = [[] for _ in range(5)]
test1 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df1):
    train1[num] = df1.iloc[train_index.tolist()]
    test1[num] = df1.iloc[test_index.tolist()]
    num+=1

In [87]:
num = 0 
train2 = [[] for _ in range(5)]
test2 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df2):
    train2[num] = df2.iloc[train_index.tolist()]
    test2[num] = df2.iloc[test_index.tolist()]
    num+=1

In [88]:
num = 0 
train3 = [[] for _ in range(5)]
test3 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df3):
    train3[num] = df3.iloc[train_index.tolist()]
    test3[num] = df3.iloc[test_index.tolist()]
    num+=1

In [89]:
num = 0 
train4 = [[] for _ in range(5)]
test4 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df4):
    train4[num] = df4.iloc[train_index.tolist()]
    test4[num] = df4.iloc[test_index.tolist()]
    num+=1

In [90]:
num = 0 
train5 = [[] for _ in range(5)]
test5 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df5):
    train5[num] = df5.iloc[train_index.tolist()]
    test5[num] = df5.iloc[test_index.tolist()]
    num+=1

In [91]:
num = 0 
train6 = [[] for _ in range(5)]
test6 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df6):
    train6[num] = df6.iloc[train_index.tolist()]
    test6[num] = df6.iloc[test_index.tolist()]
    num+=1

In [92]:
num = 0 
train7 = [[] for _ in range(5)]
test7 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df7):
    train7[num] = df7.iloc[train_index.tolist()]
    test7[num] = df7.iloc[test_index.tolist()]
    num+=1

In [93]:
num = 0 
train8 = [[] for _ in range(5)]
test8 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df8):
    train8[num] = df8.iloc[train_index.tolist()]
    test8[num] = df8.iloc[test_index.tolist()]
    num+=1

In [94]:
num = 0 
train9 = [[] for _ in range(5)]
test9 = [[] for _ in range(5)]
for train_index, test_index in cv.split(df9):
    train9[num] = df9.iloc[train_index.tolist()]
    test9[num] = df9.iloc[test_index.tolist()]
    num+=1

In [95]:
for i in range(5):
#     train append
    train0[i] = train0[i].append(train1[i])
    train0[i] = train0[i].append(train2[i])
    train0[i] = train0[i].append(train3[i])
    train0[i] = train0[i].append(train4[i])
    train0[i] = train0[i].append(train5[i])
    train0[i] = train0[i].append(train6[i])
    train0[i] = train0[i].append(train7[i])
    train0[i] = train0[i].append(train8[i])
    train0[i] = train0[i].append(train9[i])
#     test append
    test0[i] = test0[i].append(test1[i])
    test0[i] = test0[i].append(test2[i])
    test0[i] = test0[i].append(test3[i])
    test0[i] = test0[i].append(test4[i])
    test0[i] = test0[i].append(test5[i])
    test0[i] = test0[i].append(test6[i])
    test0[i] = test0[i].append(test7[i])
    test0[i] = test0[i].append(test8[i])
    test0[i] = test0[i].append(test9[i])

In [96]:
set(test0[4]['class'])

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [97]:
for i in range(5):
    train0[i].to_csv ('dataSet/dataFile/yeast/train/yeast_train_'+str(i+1)+'.csv', index = False, header=True)
    test0[i].to_csv ('dataSet/dataFile/yeast/test/yeast_test_'+str(i+1)+'.csv', index = False, header=True)

In [108]:
len(test6[0])

93

In [109]:
93+93+93+92+92

463